.stage{
    display: grid;
}

.stage button::before {
    content: '';
    width: 24px;
    height: 28px;
    position: absolute;
    right: -11px;
    top: 2px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: scaleX(.3) rotate(45deg);
    cursor: pointer;
    z-index: 1;
}

.stage button{
        height: 100%;
        background-color: rgba(0,0,0,0.1);
        color: #fff;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        height: 30px;
        flex: 1 1 auto;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: rgba(0,0,0,0.8);
}

.form{
    width: 99%;
}

.col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
}

.stage .active{
    color: #fff;
    background: #4181F2;
}


.stage .active::before{
    background: #4181F2;
}

.form select{
    width: 98%;
}