.section{
    padding-block: 8rem;
}

.content{
    width: min(90%, 110rem);
    margin-inline: auto;
}

.text{
    text-align: center;
    max-width: 56rem;
    margin-inline: auto;
    
}

.subtitle{
    color: #1971ea;
    font-weight: 500;
    margin-bottom: 1rem;
}

.title{
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4rem;
    letter-spacing: -.1rem;
    color: rgb(17 24 39);
    margin-bottom: 2rem;
}

.copy{
    color: rgb(107 114 128);
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8rem;
    align-items: center;
    gap: 4rem;
}

.information img{
    width: 100%;
}

.information h3{
    color: rgb(17 24 39);
    font-size: 2.8rem;
    font-weight: 800;
}

.information a{
    background-color: #1971ea;
    color: #fff;
    border-radius: .5rem;
    padding: 1rem 2rem;
    display: inline-block;
}

.information ul{
    display: grid;
    gap: 2rem;
    margin-block: 6rem;
}
.information ul h4{
    color: rgb(17 24 39);
}

.information ul p{
    color: rgb(107 114 128);
    margin-top: .5rem;
    font-size: 1.5rem;
}

.btn{
    background-color: #1971ea;
    color: #fff;
    border-radius: .5rem;
    padding: 1rem 2rem;
    display: inline-block;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .information {
        grid-template-columns: 1fr;
    }
}