.container {
    padding-inline: 4rem;
    padding-block: 2rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.header > div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header > div span{
    display: inline-block;
    background-color: #672B60;
    padding: 1rem;
    border-radius: 5rem;
    color: #fff;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    display: flex;
    gap: 1rem;
}

.tabs button{
    font-weight: 500;
    color: rgba(0, 0, 0, .6);
    font-size: 1.4rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.tabs .active {
    background-color: #fff;
    color: rgba(0, 0, 0, .8);
}

.container {
    padding-inline: 4rem;
    padding-block: 2rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.header > div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header > div span{
    display: inline-block;
    background-color: #672B60;
    padding: 1rem;
    border-radius: 5rem;
    color: #fff;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    display: flex;
    gap: 1rem;
}

.tabs button{
    font-weight: 500;
    color: rgba(0, 0, 0, .6);
    font-size: 1.4rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.tabs .active {
    background-color: #fff;
    color: rgba(0, 0, 0, .8);
}

.content{
    display: grid;
    grid-template-columns: 50rem 1fr;
    margin-top: 2rem;
    align-items: flex-start;
    gap: 2rem;
}

.information {
    background-color: #fff;
    padding-block: 2rem;
    border-radius: 1rem;
}

.notes {
    background-color: #fff;
    padding-block: 2rem;
    border-radius: 1rem;
    padding: 1.5rem;
}

.notes h4{
    font-weight: 500;
}

.information .element{
    margin-bottom: 1rem;
    padding-inline: 2rem;

}

.information span{
    display: block;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .6);
}

.information .element button{
    color: var(--main-color);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.btn{
    color: var(--main-color);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: 1rem; 
}

.information .element p{
    font-size: 1.4rem;
}
.line{
    width: 100%;
    height: .1rem;
    background-color: rgba(0, 0, 0, .1);
}

.span_price{
    padding-top: 1rem;
}

.element h3{
    padding-top: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .8);
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

.table_container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

.table_container h4{
    font-weight: 500;
    font-size: 1.6rem;
}

.table_container table{
    background-color: #fff;
    margin-top: 2rem;
    width: 100%;
}

.table_container table th{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.table_container table td{
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: none;
}


.table_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    
}

.tables {
    display: grid;
    gap: 2rem;
}

.btn_img{
    background-color: #E3ECFC;
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
    border: 1px dashed var(--main-color);
}

.images{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.images img{
    border-radius: .5rem;
}

.element_cat{
    display: grid;
    grid-template-columns: 1fr 5rem;
    align-items: center;
    padding: .5rem 1.5rem;
    padding-bottom: 1.5rem;
    gap: 2rem;
}

.element_cat span{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .8);
}

.element_cat p{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .6);
}