.header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .icon{
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .title{
    margin: 0;
}

.header .copy{
    margin: 0;
    font-size: 1.2rem;
}

.options{
    margin-left: 5.8rem;
    margin-top: 1rem;
}

.options li{
    font-size: 1.35rem;
    margin-bottom: 1rem;
    color: var(--main-color);
    cursor: pointer;
}