.overlay{
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 display: block;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 justify-content: center;
 align-items: flex-start;
 padding-top: 2rem;
 z-index: 9;
}

.container{
 height: 90vh;
 width: min(1400px, 85%);
 background-color: #fff;
 border-radius: 1rem;
 display: grid;
 grid-template-rows: 6rem auto;
}

.header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 2rem;
 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header .user{
    display: flex;
    align-items: center;
}

.header .user button{
    margin-right:1rem;
    padding-right:1rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.header h2{
 font-weight: 600;
}

.footer{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 gap: 2rem;
 padding: 2rem;
 border-bottom: 1px solid rgba(0, 0, 0, .1);
 z-index: 1;
}

.main{
 background-color: var(--bg-color);
 display: grid;
 justify-content: center;
 grid-template-columns: 1fr;
 gap: 2rem;
 /* padding: 2rem min(30rem, ); */
 align-items: center;
 overflow-y: auto;
 overflow-x: hidden;
 z-index: 0;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.main > div > div h3{
 font-weight: 500;
 font-size: 1.6rem;
 margin-bottom: 1rem;
}

.main > div > div p{
 font-size: 1.3rem;
 margin-bottom: 1rem;
 line-height: 2rem;
 color: rgba(0, 0, 0, 0.75);
}

.basic{
 background-color: #fff;
 border-radius: .5rem;
 box-shadow: var(--box-shadow);
 width: 80%;
 margin: 1rem auto;
}

.category{
 background-color: #fff;
 border-radius: .5rem;
 padding: 1rem;
 box-shadow: var(--box-shadow);
}

.input{
 border: 1px dashed rgba(0, 0, 0, .2);
 border-radius: .5rem;
 min-height: 15rem;
 padding: 2rem;
}

.file_input{
 border: 2px dashed #ccc;
 border-radius: 5px;
}

.file_input input[type="file"] {
 display: none;
}

.file_input label {
 background-color: #fff;
 color: #666;
 display: inline-block;
 font-size: 16px;
 font-weight: bold;
 /* padding: 15px; */
 padding-block: 4rem;
 text-align: center;
 border-radius: 5px;
 cursor: pointer;
 width: 100%;
}

.file_input label:hover {
 background-color: #eee;
}

.input_box {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 /* height: 100px;  */
 margin-bottom: 2rem;
}

.input_box  span{
 font-size: 1.2rem;
 font-weight: 400;
 margin-top: .5rem;
}

.file_types {
 font-size: 1.2rem;
 font-weight: 500;
}

.col{
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 2rem;
}

.select{
 height: 3.7rem;
 border: 1px solid rgba(0, 0, 0, .1);
}

.select_placeholder{
 color: #666;
}

.main_image{
 object-fit: contain;
 height: 20rem;
 margin: 0 auto;
 transform: .3s;
}


.main_image{
 background-color: rgba(0, 0, 0, .1);
}

.other_images{
 margin-top: 1.5rem;
 flex-wrap: wrap;
}

.input_box_mini{
 width: 7rem;
 height: 7rem;
 border: 2px dashed rgba(0, 0, 0, .1);
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: .5rem;
 transition: .3s;
}

.other_images{
 display: flex;
 gap: 1rem;
}

.second_image{
 width: 7rem;
 height: 7rem;
 border: 1px solid rgba(0, 0, 0, .1);
 border-radius: .5rem;
 transition: .3s;
}
.input_box_mini:hover{
 background-color: rgba(0, 0, 0, .05);
 cursor: pointer;
}

.second_image:hover{
 background-color: rgba(0, 0, 0, .1);
}

.loader_container{
 height: 1rem;
 overflow: hidden;
 display: grid;
 justify-content: center;
 align-items: center;
}

.title{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem;
}

.basic > div {
    padding-inline: 2rem;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 2rem;
}

.option {
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.option:last-child {
    border: none;

}

.option h3{
    font-size: 1.4rem !important;
    color: #555;
}

.photo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.photo > div{
    background-color: tomato;
    color: #fff;
    height: 5rem;
    width: 5rem;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}