.header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 2rem 4rem;
}

.header img{
 width: 14rem;
}

.form{
 background-color: #fff;
 max-width: 45rem;
 margin-inline: auto;
 border-radius: 1rem;
 padding: 4rem 5.6rem 3.2rem;
 border: 1px solid rgba(0, 0, 0, .1);
 margin-top: 6rem;
}

.title{
 font-size: 2.1rem;
 line-height: 3rem;
 font-weight: 600;
 text-align: left;
 color: #1f2937;
 margin-bottom: 2rem;
}

.header > div:last-child{
 display: flex;
 align-items: center;
 gap: 1rem;
}


.header > div:last-child span{
 background-color: coral;
 height: 3rem;
 width: 3rem;
 border-radius: 5rem;
 display: grid;
 place-items: center;
 font-size: 1.6rem;
 font-weight: 400;
 color: #fff;
}

.form a{
 font-size: 1.4rem;
 color: #2164D9;
 display: flex;
 align-items: center;
 gap: .5rem;
 margin-top: 2rem;
 font-weight: 500;
}

.account{
 display: flex;
 align-items: center;
 gap: 1rem;
 height: 4rem;
 border-bottom: 1px solid rgba(0, 0, 0, .1);
 cursor: pointer;
 padding-block: .5rem;
 cursor: pointer;
}

.account:hover{
    background-color: rgba(0, 0, 0, .05);
    transition: .3s;
}
   

.account:first-child{
 border-top: 1px solid rgba(0, 0, 0, .1);
}

.account span{
 display: inline-block;
 background-color: #0fe75a;
 border-radius: 50%;
 padding: .7rem;
 height: 2rem;
 width: 2rem;
 display: grid;
 justify-content: center;
 color: #fff;
 font-size: 1.5rem;
 border: 1px solid rgba(255, 255, 255, 1);
}

.account p{
 font-size: 1.4rem;
}


.user_options {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    left: auto;
    margin: 0;
    /* padding: .5rem 1rem; */
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 15rem;
    width: 15rem;
   }
   
   .user_options li{
    padding: 1rem;
    border-radius: .5rem;
   }
   
   .user_options li button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem; 
    gap: .7rem;
    color: #111927;
   }
   
   .user_options li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3rem; 
    gap: 1rem;
    color: #111927;
    margin-left: .5rem;
    height: 5rem;
   }
   
   .user_options li:hover{
    background-color: rgba(0, 0, 0, .05);
   }
   
   .user_btn{
    cursor: pointer;
    padding: 1rem;
    border-radius: .5rem;
   }
   
   .user_btn:hover{
    background-color: rgba(0, 0, 0, .1);
    
   }
   
   .user_options .sepator{
    background-color: rgba(0, 0, 0, .1) !important;
    height: .1rem !important;
    border-radius: 0  !important;
    width: 100% !important;
    display: inline-block;
    margin: .3rem 0;
   }

   .user_option{
    position: relative;
    cursor: pointer;
   }

   .user_option h3{
    font-weight: 600;
    margin-bottom: -.3rem;
   }

   .user_option h4{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
   }