.shortcut{
    background-color: #4181f2;
    padding: 0.2rem .4rem;
    border-radius: .2rem;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: .8rem;
   }

   .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
   }
   
   .container{
    min-height: 60rem;
    display: grid;
    grid-template-rows: auto 6rem;
   }
   
   .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
   }
   
   .header h2{
    font-weight: 600;
   }
   
   .footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 2rem;
    z-index: 1;
   }
   
   .main{
    background-color: #f3f4f6;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 35rem;
    gap: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
    margin-top: 2rem;
    padding: 2rem;
    padding-inline: 10rem;

   }
   
   .first{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 2.5rem;
   }
   
   .first > div{
    margin-top: 0;
   }
   
   .contact_type .combo_button{
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    max-width: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
   }
   
   
   .combo_button button{
    padding: 1.1rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: .3s;
   }
   .combo_button .active{
    background-color: var(--main-color);
    color: #fff;
   }
   
   .contact_type p{
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.3rem;
    font-weight: 600;
   }
   
   /* .main > div > div{
    background-color: #fff;
    border-radius: .7rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
   } */
   
   .main > div > div h3{
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1rem;
   }
   
   /* .main > div > div p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
   
   } */
   
   .basic{
    background-color: #fff;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
   }
   
   .category{
    background-color: #fff;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
   }
   
   .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
   }
   
   .col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
   }

   .contact_type{
    width: 95%;
    height: 3.5rem;
   }

   .box{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
   }

   .main h4{
    font-size: 1.6rem;
   }

   .main > div > div > p{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.7);
   }

   .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
   }

   .table {
    width: 100%; /* Ancho total de la tabla */
    table-layout: fixed; /* Distribución fija de las columnas */
    border-collapse: collapse; /* Colapso de bordes */
  }

  .table th:first-child,
  td:first-child {
    position: sticky; /* Posición fija */
    left: 0; /* Fijar a la izquierda */
    z-index: 1; /* Z-index para mantener por encima del contenido desplazable */
    background-color: #fff; /* Color de fondo */
  }
  
.table th,
.table td {
  padding: 8px; 
  text-align: left; 
  border: 1px solid rgba(0, 0, 0, .1); 

}  
.table th{
    width: 15rem ;
    font-size: 1.3rem;
}

.table .remove_button{
    width: 4rem !important;
}

.table_container {
    width: 65rem; 
    overflow-x: auto;
    margin-top: 4rem;
}

.variant_btn{
    color: #4181f2;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 3rem;
    font-size: 1.4rem;
}
  