.container{
    display: grid;
    grid-template-columns: 30rem 1fr;
    gap: 2rem;
    padding: 4rem;
}

.information, .boxes_container, .sessions{
    background-color: #fff;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header button{
    border: none;
}

.boxes{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.card{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: .5rem;
}

.card > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card h4{
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.card > p{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.card button{
    font-size: 1.3rem;
    border: none;
}

.card > div > div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card > div > div p{
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding-inline: 1rem;
}

.card  span{
    background-color: rgb(235, 242, 255);
    min-width: 48px;
    min-height: 48px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 4px;
    color: var(--main-color);
}