.shortcut {
  background-color: #4181f2;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 0.8rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}

.container {
  /* height: 60rem; */
  display: grid;
  grid-template-rows: auto 6rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header h2 {
  font-weight: 600;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem;
  z-index: 1;
}

.main {
  background-color: #fff;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 0;
}


.first > div {
  margin-top: 0;
}

.contact_type .combo_button {
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: fit-content;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.combo_button button {
  padding: 1.1rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s;
}
.combo_button .active {
  background-color: var(--main-color);
  color: #fff;
}

.contact_type p {
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.3rem;
  font-weight: 600;
}

/* .main > div > div{
    background-color: #fff;
    border-radius: .7rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
   } */

.main > div > div h3 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

/* .main > div > div p{
    font-size: 1.3rem;
    margin-bottom: 1rem;

   } */

.basic {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.category {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.contact_type {
  width: 95%;
  height: 3.5rem;
}


.first{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.tabs{
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}

.col{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}